<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'data/style.css' %}" />

<body>
<h1> Tweets Related to Police Misconduct </h1>
<ul>
{% for data in datapoints %}

  <div id = "single-user" >
  {% for some in data %}
      <li>{{ some}}</li>
  {% endfor %}
  </div>


{%empty %}
    <li>No data yet.</li>
{% endfor %}
</ul>
</body>
