#container {
  background-color: black;
}

body {
   margin: 4% 7%;
   margin-left: 10%
}


#single-user {
  background-color: #E2EDF6; 
  margin: 1% ;
  max-width: 600px;
  width: 70%;
  padding: 2%;
  border-radius: 2%;
}

li:first-child{
  font-weight: bold
}

ul {
   list-style-type: none;
}

