#container {
  background-color: #B4CEE1;
}

body {
   margin: 4% 7%;
   margin-left: 10%
}


#single-user {
  background-color: #E2EDF6; 
  margin: 1% ;
  max-width: 600px;
  width: 70%
}

li:first-child{
  font-weight: bold
}

ul {
   list-style-type: none;
}
